# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
**/*.xcworkspace
**/xcuserdata/
**/DerivedData/

# Android
.android/
.gradle/
**/local.properties
**/captures/

# IDE
.idea/
.vscode/
*.iml
